page-companyinfo {
    .header {
        .toolbar {
            position: relative;
            z-index: 1;
        }
        .toolbar-background {
            background: transparent !important;
        }
        .banner {
            background: $white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .map {
                height: 104px;
                overflow: hidden;
                img {
                    filter: grayscale(100%);
                }
            }
            .details {
                position: relative;
                .img-box {
                    position: absolute;
                    top: -42.5px;
                    left: 0px;
                    right: 0;
                    margin: 0 auto;
                    width: 85px;
                    height: 85px;
                    overflow: hidden;
                    border-radius: 10px;
                    background: $dark;
                    img {
                        width: 110%;
                        height: 110%;
                        position: absolute;
                        left: -5px;
                        right: -5px;
                        top: -5px;
                        bottom: -5px;
                        max-width: unset;
                    }
                }
                h2 {
                    padding-top: 63px;
                    font-size: 1.97rem;
                    margin: 0;
                }
                p {
                    margin: 0;
                    font-size: 1.25rem;
                    color: $gray;
                    padding-top: 6px;
                }
            }
            ion-segment {
                padding-top: 16px;
                ion-segment-button {
                    font-size: 1.5rem;
                    font-weight: 400;
                    text-transform: none;
                    border: none;
                    color: $gray;
                    width: 100%;
                    background: none;
                    position: relative;
                    opacity: 1;
                    &.segment-activated {
                        color: $text-theme-color;
                        opacity: 1;
                        background: none;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            width: 85px;
                            height: 2.5px;
                            display: block;
                            background: $theme-color;
                        }
                    }
                }
            }
        }
    }
    .scroll-content {
        margin-top: 276px !important;
        .tab {
            background: $white;
            .about {
                padding: 0 20px;
                padding-bottom: 20px;
                background: $white;
                h2 {
                    margin: 0;
                    font-size: 1.7rem;
                    padding-top: 30px;
                }
                p {
                    margin: 0;
                    font-size: 1.35rem;
                    line-height: 23px;
                    padding-top: 22px;
                    letter-spacing: 0;
                }
                .responsibilites {
                    p {
                        position: relative;
                        padding-left: 33px;
                        padding-top: 19px;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 5px;
                            top: 24px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: $theme-color;
                            display: block;
                        }
                    }
                }
            }
            .openings {
                .list {
                    margin-bottom: 0;
                    .item {
                        padding: 0;
                        margin-bottom: 7px;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
                        .item-inner {
                            padding: 0;
                        }
                        .label {
                            white-space: normal;
                            margin: 0;
                            h2 {
                                margin: 0;
                                font-size: 1.55rem;
                                font-weight: 500;
                                padding: 10px;
                            }
                            p {
                                display: flex;
                                align-items: center;
                                margin-bottom: 5px;
                                padding: 0 10px;
                                font-weight: 400;
                                img {
                                    width: 19px;
                                    margin-right: 10px;
                                }
                                span {
                                    font-size: 1.1rem;
                                    padding-right: 5px;
                                    color: $gray;
                                    font-weight: 400;
                                    line-height: 1;
                                    &.experience {
                                        border-left: 2px solid $gray;
                                        padding-left: 6px;
                                    }
                                    &.end {
                                        margin-left: auto;
                                        padding: 0;
                                        color: $text-theme-color;
                                    }
                                }
                            }
                        }
                        .row {
                            &.bottom {
                                margin-top: 15px;
                                padding: 10px;
                                align-items: center;
                                background: darken($bg-light, 5%);
                                .d-flex {
                                    display: flex;
                                    align-items: center;
                                    .img-box {
                                        min-width: 31px;
                                        min-height: 31px;
                                        max-width: 31px;
                                        max-height: 31px;
                                        background: $dark;
                                        display: block;
                                        border-radius: 8px;
                                        overflow: hidden;
                                        margin-right: 10px;
                                    }
                                    h5 {
                                        font-size: 1rem;
                                        color: $text-theme-color;
                                        margin: 0;
                                        span {
                                            display: block;
                                            color: $gray;
                                        }
                                    }
                                }
                                .col {
                                    padding: 0;
                                    ion-icon {
                                        text-align: center;
                                        font-size: 1.9rem;
                                        width: 34px;
                                        &.material-icons {
                                            position: relative;
                                            top: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
