page-locationsearch {
    ion-header {
        .toolbar-title {
            display: flex;
            align-items: center;
            padding: 0;
            .list.form {
                padding: 0;
                margin: 0;
                min-width: 82%;
                .item {
                    min-height: 3.2rem;
                    margin: 0;
                    ion-input {
                        font-size: 1.6rem;
                        .text-input {
                            margin: 0;
                        }
                    }
                }
            }
            ion-icon {
                font-size: 2.2rem;
                min-width: 35px;
                display: block;
                margin-left: auto;
                margin-right: 22px;
            }
        }
    }
    .list {
        .item {
            padding: 0;
            margin-top: 7px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
            .item-inner {
                padding: 0;
            }
            .label {
                white-space: normal;
                margin: 0;
                h2 {
                    margin: 0;
                    font-size: 1.55rem;
                    font-weight: 500;
                    padding: 10px;
                }
                p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    padding: 0 10px;
                    font-weight: 400;
                    img {
                        width: 19px;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 1.1rem;
                        padding-right: 5px;
                        color: $gray;
                        font-weight: 400;
                        line-height: 1;
                        &.experience {
                            border-left: 2px solid $gray;
                            padding-left: 6px;
                        }
                        &.end {
                            margin-left: auto;
                            padding: 0;
                            color: $text-theme-color;
                        }
                    }
                }
            }
            .row {
                &.bottom {
                    margin-top: 15px;
                    padding: 10px;
                    align-items: center;
                    background: darken($bg-light, 5%);
                    .d-flex {
                        display: flex;
                        align-items: center;
                        .img-box {
                            min-width: 31px;
                            min-height: 31px;
                            background: $dark;
                            display: block;
                            border-radius: 8px;
                            margin-right: 10px;
                        }
                        h5 {
                            font-size: 1rem;
                            color: $text-theme-color;
                            margin: 0;
                            span {
                                display: block;
                                color: $gray;
                            }
                        }
                    }
                    .col {
                        padding: 0;
                        ion-icon {
                            text-align: center;
                            font-size: 2rem;
                            width: 34px;
                            &.material-icons {
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}
