page-password {
    .header .toolbar .title .toolbar-title {
        font-size: 2.4rem !important;
        font-weight: 500 !important;
        letter-spacing: 1px !important;
    }
    .form {
        h2 {
            font-size: 1.55rem;
            line-height: 22px;
            color: $gray;
            padding-bottom: 55px;
            font-weight: 400;
        }
        .button {
            &.btn {
                margin-top: 45px;
            }
        }
        .item {
            margin-top: 26px;
        }
    }
    .fixed-bottom {
        p {
            font-size: 1.6rem;
            margin: 0;
            font-weight: 500;
            padding-bottom: 20px;
            span {
                color: $text-theme-color;
            }
        }
    }
}
